@import url("./public.less");
.svg-icon {
    display: inline-block;
    width: @font-size;
}

.cur {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.text-hidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.not-text {
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;
}

.full {
    position: absolute !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.box-full {
    position: absolute !important;
    top: 30px;
    right: 0;
    bottom: 0;
    left: 0;
}

.main-full {
    position: absolute !important;
    top: 45px;
    right: 0;
    bottom: 0;
    left: 0;
}

.display-flex {
    display: flex;
}

.flex-1 {
    flex: 1
}

.flex-2 {
    flex: 2
}

.flex-3 {
    flex: 3
}

.flex-4 {
    flex: 4
}

.flex-5 {
    flex: 5
}
.full {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.full-c {
    position: absolute;
    top: 42px;
    right: 0;
    bottom: 0;
    left: 0;
}

.f-base {
    background-repeat: no-repeat;
    background-position: center;
}

.o-h {
    overflow: hidden;
}

.f-cb {
    .f-base;
    background-size: cover;
}

.f-b {
    .f-base;
    background-size: 100% 100%;
}

.i-b {
    background-image: url('../assets/public/index-background.jpg')
}

.i-ab {
    background-image: url('../assets/public/background.png')
}

.d-ib {
    display: inline-block;
}
 

.d-f-sb {
    display: flex;
    justify-content: space-between;
}

.img-m {
    vertical-align: middle
}

 

//蓝色浅字体
.i-f-c {
    color: @i-color;
}

//白色字体
.d-f-c {
    color: @d-color;
}

//白色字体
.f-f-c {
    color: @d-color;
}
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.case-b {
    .f-b;
    background-image: url('../assets/public/model.png')
}